<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-3 pull-right">
                        <button routerLink="/app/finalisation/{{idDossier}}" class="btn btn-success" mat-flat-button>
                            ENVOI DU DOSSIER EN FACTURATION
                            <mat-icon>east</mat-icon>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">


                    <h5 class="title text-center">GERER LES DEBOURS ICI</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        SERVICES
                                    </mat-label>
                                    <mat-select class="text-primary" required [(value)]="serviceDebour">

                                        <mat-option [value]=null>
                                            Sélectionnez
                                        </mat-option>
                                        <mat-option *ngFor="let cl of listServicesDebours" [value]="cl">
                                            {{ cl.libelleService }}
                                        </mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        COÛT
                                    </mat-label>
                                    <input type="text" required matInput placeholder="COÛT" [(ngModel)]="prixDebours">
                                    <mat-hint>
                                        Indiquez un montant pour ce service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button (click)="onNewDebours()" class="btn btn-info">

                                NOUVEAU DEBOUR?

                            </button>
                        </div>
                        <div class="col-md-4" *ngIf="isNewDebours">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        LIBELLÉ
                                    </mat-label>
                                    <input type="text" required matInput placeholder="LIBELLÉ DU DEBOUR"
                                        [(ngModel)]="libDebours">
                                    <mat-hint>
                                        Indiquez un le libellé du nouveau service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="isNewDebours">


                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        COÛT
                                    </mat-label>
                                    <input type="text" required matInput placeholder="COÛT" [(ngModel)]="prixDebours">
                                    <mat-hint>
                                        Indiquez un montant pour ce service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button (click)="onAddServiceDebours()" class="btn btn-danger">

                                AJOUTER

                            </button>
                        </div>
                    </div>



                    <div class="table-responsive">

                        <mat-form-field appearance="standard">
                            <mat-label>FILTRE COMPLET</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un service" #input>
                        </mat-form-field>

                        <table class="table" mat-table [dataSource]="serviceDeboursDataSource">


                            <!--  Column -->
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LIBELLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.libelleService}} </td>
                            </ng-container>
                            <!--  Column -->
                            <ng-container matColumnDef="cout">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> COÛT </th>
                                <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
                            </ng-container>


                            <!--  Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <a routerLink="/app/pilotage/" (click)="onUpdateService(element)" color="#FF3636"
                                        matTooltip="Mettre à jour" aria-label="">
                                        <mat-icon>update</mat-icon>
                                    </a> -->
                                    <a routerLink="/app/pilotage/{{idDossier}}" (click)="confirmDialogSer(element)"
                                        color="error" matTooltip="Retirer" aria-label="">
                                        <mat-icon class=" text-danger">delete</mat-icon>
                                    </a>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #deboursPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>


                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-user">
                <div class="card-header">

                    <h5 class="title text-center">GEREZ LES PRESTATIONS ICI</h5>

                </div>
                <div class="card-body">
                    <!-- <div class="table-responsive scroll"> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        SERVICES
                                    </mat-label>
                                    <mat-select class="text-danger" required [(value)]="servicePrestation">

                                        <mat-option [value]=null>
                                            Sélectionnez
                                        </mat-option>
                                        <mat-option *ngFor="let cl of listServicesPrestations" [value]="cl">{{
                                            cl.libelleService
                                            }}
                                        </mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-4 pull-right">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        COÛT
                                    </mat-label>
                                    <input type="text" required matInput placeholder="COÛT"
                                        [(ngModel)]="prixPrestations">
                                    <mat-hint>
                                        Indiquez un montant pour ce service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button (click)="onNewPrestation()" class="btn btn-info">

                                NOUVELLE PRESTATION?

                            </button>
                        </div>
                        <div class="col-md-4" *ngIf="isNewPrestation">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        LIBELLÉ
                                    </mat-label>
                                    <input type="text" required matInput placeholder="LIBELLÉ DE LA PRESTATION"
                                        [(ngModel)]="libPrestation">
                                    <mat-hint>
                                        Indiquez un le libellé du nouveau service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="isNewPrestation">


                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        COÛT
                                    </mat-label>
                                    <input type="text" required matInput placeholder="COÛT"
                                        [(ngModel)]="prixPrestations">
                                    <mat-hint>
                                        Indiquez un montant pour ce service.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button (click)="onAddServicePrestation()" class="btn btn-danger">
                                AJOUTER
                            </button>
                        </div>
                    </div>

                    <div class="table-responsive">

                        <mat-form-field appearance="standard">
                            <mat-label>FILTRE COMPLET</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un service" #input>
                        </mat-form-field>

                        <table class="table" mat-table [dataSource]="servicePrestationsDataSource">


                            <!--  Column -->
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LIBELLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.libelleService}} </td>
                            </ng-container>
                            <!--  Column -->
                            <ng-container matColumnDef="cout">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> COÛT </th>
                                <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
                            </ng-container>


                            <!--  Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <a routerLink="/app/pilotage/{{idDossier}}" (click)="onUpdateService(element)"
                                        color="#FF3636" matTooltip="Mettre à jour" aria-label="">
                                        <mat-icon>update</mat-icon>
                                    </a> -->
                                    <a routerLink="/app/pilotage/{{idDossier}}" (click)="confirmDialogSer(element)"
                                        color="error" matTooltip="Retirer" aria-label="">
                                        <mat-icon class=" text-danger">delete</mat-icon>
                                    </a>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #prestationsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>


                    </div>
                    <!-- </div> -->


                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-user">

                <div class="card-header">
                    <div class="row">

                        <div class="col-md-6">
                            <a routerLink="/app/dossiers" class="float-start" mat-fab color="#FF3636">
                                <mat-icon class=" text-danger">arrow_back</mat-icon>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <button (click)="onSubmit()" class="btn btn-info  pull-right">
                                ENREGISTRER
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>