<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.sasemtech.com">
            1&0 Consulting
          </a>
        </li>
        <li>
          <a href="https://www.sasemtech.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://sasemtech.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{annee | date: 'yyyy'}}, Designed by
      <a href="https://www.sasemtech.com" target="_blank">1&0 Consulting</a>. Coded by
      <a href="https://www.sasemtech.com" target="_blank">1&0 Consulting</a>.
    </div>
  </div>
</footer>
