<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <small class="text-center">
              POUR ENREGISTRER UN NOUVEAU DOSSIER, SELECTIONNEZ UN CLIENT DANS LA LISTE
            </small>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a routerLink="/app/dossier/ouverture/{{idClient}}" *ngIf="isEditable === true" class="float-start"
                mat-fab color="#FF3636">
                <mat-icon>add</mat-icon>
              </a>
            </div>

            <div class="col-md-6">
              <a routerLink="/app/dossier/GererDossier/">
                <button class="btn btn-info">CONFIER LES DOSSIERS</button>
              </a>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="fill" color="text-primary" class="float-end">
                <mat-label>Selectionner un client</mat-label>
                <mat-select class="text-primary" [(value)]="selectedClient"
                  (selectionChange)="applyFilter($event.value)">
                  <mat-option value='null'>Tous</mat-option>
                  <mat-option *ngFor="let cl of listClients" [value]="cl.idClient">{{ cl.raisonSocialeClient }}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- <h4 class="card-title"> CLIENTELLE</h4> -->
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <mat-form-field appearance="standard">

              <mat-label>FILTRE COMPLET</mat-label>
              <input matInput (keyup)="applyFilter2($event)" placeholder="Chercher un dossier" #input>
            </mat-form-field>
            <table class="table" mat-table [dataSource]="dossierDataSource">


              <!-- RAISON SOCIALE Column -->
              <ng-container matColumnDef="cde">
                <th mat-header-cell *matHeaderCellDef class="text-danger"> CDE </th>
                <td mat-cell *matCellDef="let element"> {{element.cde}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="cne">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> CNE </th>
                <td mat-cell *matCellDef="let element"> {{element.cne}} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="da">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> DA </th>
                <td mat-cell *matCellDef="let element"> {{element.da}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="lta">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LTA </th>
                <td mat-cell *matCellDef="let element"> {{element.lta}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="ot">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> OT </th>
                <td mat-cell *matCellDef="let element"> {{element.ot }} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> STATUT </th>
                <td mat-cell *matCellDef="let element"> {{element.statut }} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="dossier">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> DOSSIER </th>
                <td mat-cell *matCellDef="let element"> {{element.dossier }} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-danger"> ACTION </th>
                <td mat-cell *matCellDef="let element">

                  <a routerLink="/app/dossier/visualiser/{{element.idDossier}}" color="error" matTooltip="Codifier"
                    aria-label="">
                    <mat-icon class="text-danger">code</mat-icon>
                  </a>
                  <a routerLink="/app/pilotage/{{element.idDossier}}" color="#FF3636" matTooltip="Pilotage (Services)"
                    aria-label="">
                    <mat-icon class="text-danger">build</mat-icon>
                  </a>
                  <a routerLink="/app/finalisation/{{element.idDossier}}" color="#FF3636" matTooltip="Facturation"
                    aria-label="">
                    <mat-icon class="text-danger">check_circle</mat-icon>
                  </a>
                </td>
              </ng-container>


              <!-- </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>