<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-danger text-center">VOUS MODIFIEZ LES DONNEES D'UN COLLABORATEUR</h5>
        </div>
        <div class="card-body">
          <form #myEmployeeForm="ngForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      NOM
                    </mat-label>
                    <input type="text" required matInput placeholder="NOM" formControlName="nomEmploye">
                    <mat-error *ngIf="employeeForm.controls['nomEmploye'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      PRENOM
                    </mat-label>
                    <input type="text" required matInput placeholder="prénom" formControlName="prenomEmploye">

                    <mat-error *ngIf="employeeForm.controls['prenomEmploye'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      ADRESSE
                    </mat-label>
                    <input type="text" matInput placeholder="ADRESSE" formControlName="adresse">
                    <mat-hint>
                      Adresse
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TELEPHONE
                    </mat-label>
                    <input type="text" matInput placeholder="telephone" formControlName="telephone">

                    <mat-error *ngIf="employeeForm.controls['telephone'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="fill" color="text-primary" class="float-end">
                    <mat-label>QUALITE</mat-label>
                    <mat-select class="text-primary" formControlName="qualite">
                      <mat-option value='Déclarant'>Déclarant</mat-option>
                      <mat-option value='Secrétaire'> Secrétaire </mat-option>
                      <mat-option value='DAF'> DAF </mat-option>
                      <mat-option value='Comptable'> Comptable </mat-option>
                      <mat-option value='DRH'> DRH </mat-option>
                      <mat-option value='Directeur'> Directeur(trice) </mat-option>

                    </mat-select>


                    <mat-hint>
                      Le poste du collaborateur
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['qualite'].hasError('required')">
                      Champ obligatoire!!!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      EMAIL
                    </mat-label>
                    <input type="email" required matInput placeholder="email " formControlName="emailEmp">
                    <mat-hint>
                      email
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['emailEmp'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="employeeForm.controls['emailEmp'].hasError('email')">
                      <strong>
                        Ex. toto@domaine.com
                      </strong>

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MATRICULE
                    </mat-label>
                    <input type="text" matInput placeholder="matricule" formControlName="matricule">
                    <mat-hint>
                      Vous pouvez attribuer un code a chaque collaborateur
                    </mat-hint>
                    <!-- <mat-error *ngIf="clientForm.controls['faxClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      NOM D'UTILISATEUR
                    </mat-label>
                    <input type="text" required matInput placeholder="NOM D'UTILISATEUR " formControlName="username">
                    <mat-hint>
                      NOM D'UTILISATEUR(DE NOM LUI PERMET DE SE CONNECTER À L'APPPLICATION)
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['username'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MOT DE PASSE
                    </mat-label>
                    <input type="password" required matInput placeholder="MOT DE PASSE " formControlName="password">
                    <mat-hint>
                      MOT DE PASSE
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['password'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      REPETER LE MOT DE PASSE
                    </mat-label>
                    <input type="password" required matInput placeholder="MOT DE PASSE " formControlName="re_password">
                    <mat-hint>
                      MOT DE PASSE
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['re_password'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                  </mat-form-field>
                </div>
              </div>



            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-md-6">
                <mat-label>LISTE DES TÂCHES POSSIBLES</mat-label>
                <mat-card>
                  <h5 class="bg-success"> <label style="color: white;" *ngFor="let role1 of listeRole"> * {{role1}} *
                    </label></h5>

                </mat-card>


              </div>
              <div class="col-md-6">
                <mat-label>LISTE DES TÂCHES ACTUELLES DU COLLABORATEUR</mat-label>
                <mat-card>
                  <h5 class="bg-success"> <label style="color: white;" *ngFor="let role2 of listeRoleDec"> * {{role2}} *
                    </label></h5>

                </mat-card>


              </div>

              <mat-form-field class="example-chip-list col-md-12" appearance="fill">
                <mat-label>SAISIR EN FONCTION DES TÂCHES LISTÉES AU DESSUS</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let role of roles" (removed)="remove(role)">
                    {{role}}

                    <mat-icon class="btn-danger" (click)="remove(role)" *ngIf="removable">cancel</mat-icon>

                    <!-- matChipRemove -->
                  </mat-chip>
                  <input placeholder="Selectionner..." #roleInput [formControl]="roleCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                    {{role}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>











            <div class="row">
              <div class="col-lg-12 m--align-right">
                <button [disabled]="isSaving || !employeeForm.valid" type="submit" class="btn btn-success"
                  mat-flat-button>
                  <table *ngIf="isSaving">
                    <tr>
                      <td>
                        EN COURS
                      </td>
                      <td>
                        <mat-spinner diameter="20"></mat-spinner>
                      </td>
                    </tr>
                  </table>
                  <span *ngIf="!isSaving">
                    ENREGISTRER
                  </span>
                </button>
              </div>
            </div>

          </form>








        </div>
      </div>
    </div>

  </div>
</div>