
  <!-- <div class="main-content text-center"> -->
    <div class="row text-center">
      <!-- <div class="col-md-12"> -->
        <div class="card">
          <div class="card-header">
            <h3 mat-dialog-title>
               CODIFICATION
              </h3>          
             
        </div>
        <div class="card-body">
            <div mat-dialog-content>
              VEUILLEZ SAISIR LE PRIX UNITAIRE ET LA QUANTITE DU COLIS
              </div>

            <div mat-dialog-actions>
                <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>
                          FOB/PRIX UNITAIRE
                        </mat-label>
                        <input type="number" (ngModelChange)="onChange()" required matInput [(ngModel)]="fob">
                      
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>
                          QUANTITE
                        </mat-label>
                        <input type="number" (ngModelChange)="onChange()" required matInput  [(ngModel)]="qte">
                      
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                <button mat-raised-button class="btn-success" [disabled]="isValid===false" (click)="onConfirm()">
                  <mat-icon>check</mat-icon>VALIDER
                </button>
                <button mat-raised-button class="btn-danger" (click)="onDismiss()">
                  <mat-icon>close</mat-icon>ANNULER
                </button>
              </div>
              </div>
        </div>  
    <!-- </div> -->
</div>
</div>
<!-- </div> -->
