<h3 mat-dialog-title>
  {{title}}
</h3>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button class="btn-danger" (click)="onDismiss()">
    <mat-icon>close</mat-icon>Non
  </button>
  <button mat-raised-button class="btn-success" (click)="onConfirm()">
    <mat-icon>check</mat-icon>OUI
  </button>
</div>
