<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card">
                <div class="card-header">

                    <button class="btn btn-danger" mat-flat-button>
                        VERIFIER BIEN TOUS LES ELEMENTS DU DOSSIER
                        <mat-icon>ok</mat-icon>
                    </button>
                    <small>Si tout est correct clicker sur le bouton cloturer</small>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">


                    <h5 class="title text-center">LES DEBOURS</h5>
                </div>
                <div class="card-body">

                    <div class="table-responsive">

                        <mat-form-field appearance="standard">
                            <mat-label>FILTRE COMPLET</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un service" #input>
                        </mat-form-field>

                        <table class="table" mat-table [dataSource]="serviceDeboursDataSource">


                            <!--  Column -->
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LIBELLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.libelleService}} </td>
                            </ng-container>
                            <!--  Column -->
                            <ng-container matColumnDef="cout">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> COÛT </th>
                                <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
                            </ng-container>


                            <!--  Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <a routerLink="/app/pilotage/" (click)="onUpdateService(element)" color="#FF3636"
                                        matTooltip="Mettre à jour" aria-label="">
                                        <mat-icon>update</mat-icon>
                                    </a> -->
                                    <a routerLink="/app/pilotage/{{idDossier}}" (click)="confirmDialogSer(element)"
                                        color="error" matTooltip="Retirer" aria-label="">
                                        <mat-icon class=" text-danger">delete</mat-icon>
                                    </a>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #deboursPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>


                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-user">
                <div class="card-header">

                    <h5 class="title text-center">LES PRESTATIONS </h5>

                </div>
                <div class="card-body">
                    <!-- <div class="table-responsive scroll"> -->


                    <div class="table-responsive">

                        <mat-form-field appearance="standard">
                            <mat-label>FILTRE COMPLET</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un service" #input>
                        </mat-form-field>

                        <table class="table" mat-table [dataSource]="servicePrestationsDataSource">


                            <!--  Column -->
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LIBELLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.libelleService}} </td>
                            </ng-container>
                            <!--  Column -->
                            <ng-container matColumnDef="cout">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> COÛT </th>
                                <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
                            </ng-container>


                            <!--  Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <a routerLink="/app/pilotage/{{idDossier}}" (click)="onUpdateService(element)"
                                        color="#FF3636" matTooltip="Mettre à jour" aria-label="">
                                        <mat-icon>update</mat-icon>
                                    </a> -->
                                    <a routerLink="/app/pilotage/{{idDossier}}" (click)="confirmDialogSer(element)"
                                        color="error" matTooltip="Retirer" aria-label="">
                                        <mat-icon class=" text-danger">delete</mat-icon>
                                    </a>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #prestationsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>


                    </div>
                    <!-- </div> -->


                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-user">

                <div class="card-header">
                    <div class="row">

                        <div class="col-md-4">
                            <a routerLink="/app/dossiers" class="float-start" mat-fab color="#FF3636">
                                <mat-icon class=" text-danger">arrow_back</mat-icon>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <button (click)="onSubmit()" class="btn btn-info  pull-right">
                                CLOTURER LE DOSSIER
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button (click)="search()" class="btn btn-success  pull-right">
                                FACTURE PDF
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
