<!--<div class="main-content">

  <div class="row">

    <!- <div class="col-md-12"> ->
    <div class="col-md-3">

    </div>

    <--ici->

    <div class="col-md-3">

    </div>
    <-- </div> ->

  </div>
</div>-->

 <!--<div class="col-md-6 text-center  bg-primary">
  <div class="card card-user">

    <div class="card-header">
      <h4> <label>BIENVENU DANS SYADE</label></h4>
      <small>Pour commencer veuillez vous connecter</small>
    </div>
    <div class="card-body">
      <form class="form-style-1" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <h4 class="form-signin-heading">VOS IDENTIFIANTS</h4>
        <div class="login-wrap">
          <div> <label>LOGIN <span class="required">*</span></label>
            <input type="text" class="input" autofocus name="username" [(ngModel)]="form.username" required
              #username="ngModel" />
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
            Username is required!
          </div>
          <div>
            <label>MOT DE PASSE <span class="required">*</span></label>
            <input type="password" class="input" name="password" [(ngModel)]="form.password" required minlength="6"
              #password="ngModel" />
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>


          <button class="btn btn-lg btn-login btn-block">
            CONNECTION
          </button>

          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>


        </div>


      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>

    </div>

  </div>
</div>-->
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Ten Consulting Team</h4>
                  <h4> <label>Welcome in SYADE</label></h4>
                </div>


              <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                      <input type="text"id="form2Example11" class="form-control" autofocus name="username" [(ngModel)]="form.username" required
                      #username="ngModel"  placeholder="Nom utilisateur" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                    Username is required!
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password"  id="form2Example22" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                    #password="ngModel" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">
                    CONNECTION
                  </button>
                  </div>

                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                      Login failed: {{ errorMessage }}
                    </div>
                  </div>

                </form>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                  Logged in as {{ roles }}.
                </div>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
