<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-danger text-center">VOUS MODIFIER LES INFORMATIONS DU CLIENT</h5>
        </div>
        <div class="card-body">
          <form #myClientForm="ngForm" [formGroup]="clientForm" (ngSubmit)="onSubmit()">

            <div class="row">



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      ADRESSE (Lieu, localisation)
                    </mat-label>
                    <input type="text" matInput formControlName="adresseClient">
                    <mat-hint>
                      Adresse
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      RAISON SOCIALE / NOM
                    </mat-label>
                    <input type="text" required matInput formControlName="raisonSocialeClient">
                    <mat-hint>
                      Raison sociale de l'entreprise ou nom
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['raisonSocialeClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      CODE IBAN
                    </mat-label>
                    <input type="text" required matInput formControlName="codeIban">
                    <mat-hint>
                      CODE IBAN
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['codeIban'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      BOITE POSTALE
                    </mat-label>
                    <input type="text" matInput formControlName="bp">
                    <mat-hint>
                      BP
                    </mat-hint>
                    <!-- <mat-error *ngIf="clientForm.controls['bp'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TELEPHONE
                    </mat-label>
                    <input type="text" required matInput formControlName="telClient">
                    <mat-hint>
                      Téléphone
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['telClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 9 caractères et 14 au max
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      EMAIL
                    </mat-label>
                    <input type="email" required matInput formControlName="emailClient">
                    <mat-hint>
                      email
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['emailClient'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['emailClient'].hasError('email')">
                      <strong>
                        Ex. toto@monsite.com
                      </strong>

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      FAX
                    </mat-label>
                    <input type="text" matInput formControlName="faxClient">
                    <mat-hint>
                      FAX
                    </mat-hint>
                    <!-- <mat-error *ngIf="clientForm.controls['faxClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      NUM. CONTRIBUABLE
                    </mat-label>
                    <input type="text" required matInput formControlName="numeroContribuable">
                    <mat-hint>
                      Num. Contribuable
                    </mat-hint>


                  </mat-form-field>
                </div>
              </div>

<div class="col-md-4">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>
        NUM. REGISTRE COMMERCE
      </mat-label>
      <input type="text" required matInput formControlName="numeroRegCon">
      <mat-hint>
        numero Registre de Commerce
      </mat-hint>

    </mat-form-field>
  </div>
</div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      SITE WEB
                    </mat-label>
                    <input type="text" matInput formControlName="siteWebClient">
                    <mat-hint>
                      Site web Ex. www.monsiteweb.com
                    </mat-hint>
                    <!-- <mat-error *ngIf="clientForm.controls['siteWebClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Ex. www.monsiteweb.com
                      </strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TYPE OPERATION
                    </mat-label>
                    <input type="text" required matInput formControlName="typeOperation">
                    <mat-hint>
                      TYPE
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      CODE CLIENT
                    </mat-label>
                    <input type="text" matInput formControlName="matriculeClient">
                    <mat-hint>
                      CODE, Vous pouvez classifier vos client par codification
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MIN. KG TRANSPORT
                    </mat-label>
                    <input type="text" required matInput formControlName="minKiloTransport">
                    <mat-hint>
                      min. par Kg Transport
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['minKiloTransport'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['minKiloTransport'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TAUX TRANSPORT
                    </mat-label>
                    <input type="text" required matInput formControlName="tauxTransport">
                    <mat-hint>
                      Taux Transport
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['tauxTransport'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['tauxTransport'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TAUX ADC
                    </mat-label>
                    <input type="text" required matInput formControlName="tauxADC">
                    <mat-hint>
                      Taux ADC
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['tauxADC'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['tauxADC'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MIN. MAGASIN
                    </mat-label>
                    <input type="text" required matInput formControlName="minMagasin">
                    <mat-hint>
                      min. magasin
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['minMagasin'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['minMagasin'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TAUX MAGASIN
                    </mat-label>
                    <input type="text" required matInput formControlName="tauxMagasin">
                    <mat-hint>
                      taux magasin
                    </mat-hint>
                    <mat-error *ngIf="clientForm.controls['tauxMagasin'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="clientForm.controls['tauxMagasin'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
<div class="col-md-4">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>
        MIN. MANUTENTION
      </mat-label>
      <input type="text" required matInput formControlName="minManutention">
      <mat-hint>
        min Manutention
      </mat-hint>
      <mat-error *ngIf="clientForm.controls['minManutention'].hasError('required')">
        Champ obligatoire!!!

      </mat-error>
      <mat-error *ngIf="clientForm.controls['minManutention'].hasError('pattern')">
        Saisir un nombre Ex.: 1542 ou 2450.25

      </mat-error>
    </mat-form-field>
  </div>
</div>



            </div>

<div class="row">
<div class="col-md-4">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>
        TAUX MANUTENTION
      </mat-label>
      <input type="text" required matInput formControlName="tauxManutention">
      <mat-hint>
        Taux Manutention
      </mat-hint>
      <mat-error *ngIf="clientForm.controls['tauxManutention'].hasError('required')">
        Champ obligatoire!!!

      </mat-error>
      <mat-error *ngIf="clientForm.controls['tauxManutention'].hasError('pattern')">
        Saisir un nombre Ex.: 1542 ou 2450.25

      </mat-error>
    </mat-form-field>
  </div>
</div>
</div>


            <div class="row">
              <div class="col-lg-12 m--align-right">
                <button [disabled]="isSaving || !clientForm.valid" type="submit" class="btn btn-primary"
                  mat-flat-button>
                  <table *ngIf="isSaving">
                    <tr>
                      <td>
                        EN COURS
                      </td>
                      <td>
                        <mat-spinner diameter="20"></mat-spinner>
                      </td>
                    </tr>
                  </table>
                  <span *ngIf="!isSaving">
                    ENREGISTRER
                  </span>
                </button>
              </div>
            </div>

          </form>








        </div>
      </div>
    </div>

  </div>
</div>
