<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">

          <h5 class="title text-center">SELECTIONNER LES DOSSIERS A ATTRIBUER AU DECLARANT</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <mat-form-field appearance="standard">
              <mat-label>FILTRE COMPLET</mat-label>
              <input matInput (keyup)="applyFilter2($event)" placeholder="Chercher un client" #input>
            </mat-form-field>

            <table class="table" mat-table [dataSource]="dossierDataSource">




              <!--  Column -->
              <ng-container matColumnDef="cne">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> CNE </th>
                <td mat-cell *matCellDef="let element"> {{element.cne}} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="da">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> DA </th>
                <td mat-cell *matCellDef="let element"> {{element.da}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="dossier">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> DOSSIER </th>
                <td mat-cell *matCellDef="let element"> {{element.dossier }} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> ACTION </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-secondary" color="#FF3636"
                    matTooltip="Attribuer ce dossier au déclarant sélectionné" (click)="confirmDialog(element)"
                    aria-label="">
                    ATTRIBUER
                  </button>
                  <!-- mat-fab -->
                  <!-- <a (click)="confirmDialog(element.idDossier)" color="error" matTooltip="Supprimer" aria-label="">
                    <mat-icon>delete</mat-icon>
                  </a> -->
                </td>
              </ng-container>


              <!-- </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


          </div>
          <a routerLink="/app/dossiers" class="float-start" mat-fab color="#FF3636">
            <mat-icon>arrow_back</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-user">
        <div class="card-header">
          <div class="col-md-6">
            <mat-form-field appearance="fill" color="text-primary" class="float-end text-primary">
              <mat-label>Selectionner un déclarant</mat-label>
              <mat-select class="text-primary" [(value)]="selectedDeclarant"
                (selectionChange)="applyFilter($event.value)">
                <mat-option [value]=null>Tous</mat-option>
                <mat-option *ngFor="let cl of listDeclarant" [value]="cl">{{
                  cl.prenomEmploye
                  }} {{ cl.nomEmploye }}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive scroll" style="height: 325px;">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  CNE
                </th>
                <th>
                  DA
                </th>
                <th>
                  DOSSIER
                </th>
                <th>
                  ACTION
                </th>
              </thead>
              <tbody>

                <tr *ngFor="let dossier of listDossiersASauver">
                  <td>
                    {{dossier.cne}}
                  </td>
                  <td>
                    {{dossier.da}}
                  </td>
                  <td>
                    {{dossier.dossier}}
                  </td>
                  <td><button class="btn btn-danger" (click)="retirerDossier(dossier)">
                      RETIRER
                    </button></td>
                </tr>
              </tbody>
            </table>
          </div>

          <button class="btn btn-success" [disabled]="!isSelectDeclarant" (click)="enregistrerDossierDec()">
            Valider</button>
        </div>


      </div>
    </div>
  </div>
</div>
