<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-md-3">
                            <a (click)="onCreateService()" class="float-start" mat-fab color="#FF3636">
                                <mat-icon class=" text-danger">add</mat-icon>
                            </a>
                        </div>


                    </div>
                    <!-- <h4 class="card-title"> CLIENTELLE</h4> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <mat-form-field appearance="standard">

                            <mat-label>FILTRE COMPLET</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un service" #input>
                        </mat-form-field>
                        <table class="table" mat-table [dataSource]="serviceDataSource">

                            <ng-container matColumnDef="categorie">
                                <th mat-header-cell *matHeaderCellDef class="text-danger"> CATEGORIE </th>
                                <td mat-cell *matCellDef="let element"> {{element.categorie}} </td>
                            </ng-container>

                            <!--  Column -->
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> LIBELLE </th>
                                <td mat-cell *matCellDef="let element"> {{element.libelleService}} </td>
                            </ng-container>
                            <!--  Column -->
                            <ng-container matColumnDef="cout">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> COÛT </th>
                                <td mat-cell *matCellDef="let element"> {{element.prixMax}} </td>
                            </ng-container>


                            <!--  Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                                <td mat-cell *matCellDef="let element">
                                    <a routerLink="/app/services/" (click)="onUpdateService(element)" color="#FF3636"
                                        matTooltip="Mettre à jour" aria-label="">
                                        <mat-icon class=" text-danger">update</mat-icon>
                                    </a>
                                    <a routerLink="/app/services/" (click)="confirmDialog(element)" color="error"
                                        matTooltip="Afficher" aria-label="">
                                        <mat-icon class=" text-danger">delete</mat-icon>
                                    </a>

                                </td>
                            </ng-container>


                            <!-- </ng-container> -->

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- *ngIf="isCreated === true"  -->
    <div class="row">
        <div class="card">
            <div class="card-header">

                <h5 class="title text-danger text-center">VOUS ENREGISTREZ UN SERVICE </h5>

            </div>
            <div class="card-body">
                <form #myserviceForm="ngForm" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        CATEGORIE
                                    </mat-label>
                                    <mat-select class="text-primary" required formControlName="categorie">

                                        <mat-option [value]="'Debours'">
                                            DEBOURS
                                        </mat-option>
                                        <mat-option [value]="'Prestations'">
                                            PRESTATIONS
                                        </mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        LIBELLE
                                    </mat-label>
                                    <input type="text" required matInput placeholder="LIBELLE"
                                        formControlName="libelleService">
                                    <mat-hint>
                                        Indiquez le titre du service (Ex: Photocopies)
                                    </mat-hint>
                                    <mat-error *ngIf="serviceForm.controls['libelleService'].hasError('required')">
                                        Champ obligatoire!!!
                                        <strong>
                                            Il doit contenir au minimum 2 caractères
                                        </strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>
                                        COÛT
                                    </mat-label>
                                    <input type="text" required matInput placeholder="COÛT" formControlName="prixMax">
                                    <mat-hint>
                                        Indiquez un montant pour ce service. IL est indicatif et peut être modifié
                                    </mat-hint>
                                    <mat-error *ngIf="serviceForm.controls['prixMax'].hasError('required')">
                                        Champ obligatoire!!!
                                        <strong>
                                            un momtant
                                        </strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 m--align-right">
                                <button [disabled]="isSaving || !serviceForm.valid" type="submit"
                                    class="btn btn-primary" mat-flat-button>
                                    <table *ngIf="isSaving">
                                        <tr>
                                            <td>
                                                EN COURS
                                            </td>
                                            <td>
                                                <mat-spinner diameter="20"></mat-spinner>
                                            </td>
                                        </tr>
                                    </table>
                                    <span *ngIf="!isSaving">
                                        ENREGISTRER
                                    </span>
                                </button>
                            </div>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>