<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">

          <a routerLink="/app/dossiers" class="float-start" mat-fab color="#FF3636">
            <mat-icon class=" text-danger">arrow_back</mat-icon>
          </a>


          <h5 class="title text-danger text-center">VOUS ENREGISTREZ UN DOSSIER </h5>

        </div>
        <div class="card-body">
          <form #mydossierForm="ngForm" [formGroup]="dossierForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      CDE
                    </mat-label>
                    <input type="text" required matInput placeholder="CDE" formControlName="cde">
                    <mat-hint>
                      Cde
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['cde'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TAUX DE CHANGE
                    </mat-label>
                    <mat-select class="text-primary" required formControlName="tauxChange">

                      <mat-option *ngFor="let cl of listeDevises" [value]="cl.valeurCfa">{{
                        cl.libelle
                        }}: {{ cl.valeurCfa }} FCFA
                      </mat-option>

                    </mat-select>


                    <mat-error *ngIf="dossierForm.controls['tauxChange'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                    <mat-error *ngIf="dossierForm.controls['tauxChange'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MONTANT FOB
                    </mat-label>
                    <input type="text" required matInput placeholder="Montant de la facture fournisseur"
                      formControlName="valFob">
                    <mat-hint>
                      Montant FOB de la facture fournisseur
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['valFob'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                    <mat-error *ngIf="dossierForm.controls['valFob'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MONTANT CIP
                    </mat-label>
                    <input type="text" required matInput placeholder="Montant de la facture fournisseur"
                      formControlName="montantCip">
                    <mat-hint>
                      Montant CIP de la facture fournisseur
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['montantCip'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                    <mat-error *ngIf="dossierForm.controls['montantCip'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MONTANT ASSURANCE
                    </mat-label>
                    <input type="text" required matInput placeholder="Montant de l'assurance"
                      formControlName="montantAssurance">
                    <mat-hint>
                      Montant de l'assurance pour la marchandise en transit
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['montantAssurance'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                    <mat-error *ngIf="dossierForm.controls['montantAssurance'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

             <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MONTANT TRANSPORT
                    </mat-label>
                    <input type="text" required matInput placeholder="Montant du transport"
                      formControlName="montantTransport">
                    <mat-hint>
                      Montant du transport de la marchandise
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['montantTransport'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>

                    <mat-error *ngIf="dossierForm.controls['montantTransport'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      POIDS
                    </mat-label>
                    <input type="text" required matInput placeholder="poids" formControlName="poids">
                    <mat-hint>
                      poids du colis
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['poids'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="dossierForm.controls['poids'].hasError('pattern')">
                      Saisir un nombre Ex.: 1542 ou 2450.25

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      OT
                    </mat-label>
                    <input type="text" matInput placeholder=" Ordre de transit" formControlName="ot">
                    <mat-hint>
                      Ordre de transit
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      LTA/Connaissement(BL)
                    </mat-label>
                    <input type="text" required matInput placeholder="LTA ou BL" formControlName="lta">
                    <mat-hint>
                      LTA/Connaissement(BL)
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['lta'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      No DOSSIER
                    </mat-label>
                    <input type="text" required matInput placeholder="dossier" formControlName="dossier">
                    <mat-hint>
                      numéro du dossier
                    </mat-hint>
                    <mat-error *ngIf="dossierForm.controls['dossier'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      DA
                    </mat-label>
                    <input type="text" matInput placeholder="da" formControlName="da">
                    <mat-hint>
                      da
                    </mat-hint>


                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      CNE
                    </mat-label>
                    <input type="text" required matInput placeholder="cne" formControlName="cne">
                    <mat-hint>
                      Description du colis
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No FACTURE FOURNISSEUR
                    </mat-label>
                    <mat-hint>
                      Il s'agit de la facture des colis.
                    </mat-hint>
                    <input type="text" matInput placeholder="numéro de la facture fournisseur"
                      formControlName="numFactureFournisseur">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      DECLARATION D'IMPORTATION
                    </mat-label>

                    <input type="text" matInput placeholder="declaration d\'importation"
                      formControlName="declarationImportation">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No NAVIRE/VOL
                    </mat-label>

                    <input type="text" matInput placeholder="navire Vol" formControlName="navireVol">
                  </mat-form-field>
                </div>
              </div>



            </div>

            <div class="row">

              <div class="col-md-4">

                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      NOMBRE DE COLIS
                    </mat-label>

                    <input type="number" matInput placeholder="nombre de colis" formControlName="nbrColis">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No ASSURANCE
                    </mat-label>

                    <input type="text" matInput placeholder="Certificat d'assurance" formControlName="numAssurance">
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No CERTIFICAT SGS
                    </mat-label>

                    <input type="text" matInput placeholder="num. du Certificat Sgs" formControlName="numCertificatSgs">
                  </mat-form-field>
                </div>
              </div>


            </div>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT D'ORIGINE
                    </mat-label>

                    <input type="text" matInput placeholder="certificat d\'origine" formControlName="certificatOrigine">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT DE DISPENSE
                    </mat-label>

                    <input type="text" matInput placeholder="Certificat de Dispense si les produits en font l\'objet"
                      formControlName="certificatDispense">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT PHYTOSANITAIRE
                    </mat-label>

                    <input type="text" matInput placeholder="Certificat Phytosanitaire"
                      formControlName="certificatPhytosanitaire">
                  </mat-form-field>
                </div>
              </div>



            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      ADRESSE DE LIVRAISON
                    </mat-label>

                    <input type="text" matInput placeholder="Adresse de Livraison" formControlName="adresseLivraison">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">

                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No FACTURE FRET
                    </mat-label>

                    <input type="text" matInput placeholder="numéro de la facture fret"
                      formControlName="numFactureFret">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      AUTRE DOCUMENTS
                    </mat-label>

                    <input type="textArea" matInput placeholder="autreDocuments" formControlName="autreDocuments">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 m--align-right">
                <button [disabled]="isSaving || !dossierForm.valid" type="submit" class="btn btn-primary"
                  mat-flat-button>
                  <table *ngIf="isSaving">
                    <tr>
                      <td>
                        EN COURS
                      </td>
                      <td>
                        <mat-spinner diameter="20"></mat-spinner>
                      </td>
                    </tr>
                  </table>
                  <span *ngIf="!isSaving">
                    ENREGISTRER
                  </span>
                </button>
              </div>
            </div>

          </form>








        </div>
      </div>
    </div>

  </div>
</div>
