<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/app/NewEmployee']" mat-fab color="#FF3636">
            <mat-icon>add</mat-icon>
          </a>
          <!-- <h4 class="card-title"> CLIENTELLE</h4> -->
        </div>
        <div class="card-body">
          <div class="table-responsive">


            <table class="table" mat-table [dataSource]="employeeDataSource">

              <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

              <!-- RAISON SOCIALE Column -->
              <ng-container matColumnDef="nom_prenom">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> NOM COMPLET</th>
                <td mat-cell *matCellDef="let element"> {{element.nomEmploye}} {{element.prenomEmploye}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> TELEPHONE </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.emailEmp}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="adresse">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ADRESSE </th>
                <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="qualite">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> QUALITE </th>
                <td mat-cell *matCellDef="let element"> {{element.qualite}} </td>
              </ng-container>

              <!--  Column -->
              <!-- <ng-container matColumnDef="bp">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> BP </th>
                <td mat-cell *matCellDef="let element"> {{element.bp }} </td>
              </ng-container> -->
              <!--  Column -->
              <!-- <ng-container matColumnDef="adresse">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> ADRESSE </th>
                <td mat-cell *matCellDef="let element"> {{element.adresseClient }} </td>
              </ng-container> -->

              <!--  Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                <td mat-cell *matCellDef="let element">
                  <a routerLink="/app/modifierEmployee/{{element.idEmploye}}" color="#FF3636" matTooltip="Mettre à jour"
                    aria-label="">
                    <mat-icon class=" text-danger">update</mat-icon>
                  </a>

                  <!-- mat-fab -->
                  <!-- <a (click)="confirmDialog(element.idEmploye)" disabled color="error" matTooltip="Supprimer"
                    aria-label="">
                    <mat-icon>delete</mat-icon>
                  </a> -->
                </td>
              </ng-container>

              <!-- <a routerLink="/app/ViewClient/{{element.idEmploye}}" disabled color="error" matTooltip="Afficher" aria-label="">
  <mat-icon>visibility</mat-icon>
</a> -->
              <!-- </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>