<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-danger text-center"> LES INFORMATIONS DU CLIENT</h5>
        </div>
        <div class="card-body">
          <form #myClientForm="ngForm" [formGroup]="clientForm">

            <div class="row">



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      ADRESSE (Lieu, localisation)
                    </mat-label>
                    <input type="text" matInput formControlName="adresseClient">

                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      RAISON SOCIALE / NOM
                    </mat-label>
                    <input type="text" matInput formControlName="raisonSocialeClient">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      CODE IBAN
                    </mat-label>
                    <input type="text" matInput formControlName="codeIban">

                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      BOITE POSTALE
                    </mat-label>
                    <input type="text" matInput formControlName="bp">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TELEPHONE
                    </mat-label>
                    <input type="text" matInput formControlName="telClient">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      EMAIL
                    </mat-label>
                    <input type="email" matInput formControlName="emailClient">

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      FAX
                    </mat-label>
                    <input type="text" matInput formControlName="faxClient">

                  </mat-form-field>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      NUM. CONTRIBUABLE
                    </mat-label>
                    <input type="text" matInput formControlName="numeroContribuable">

                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      CODE CLIENT
                    </mat-label>
                    <input type="text" matInput formControlName="matriculeClient">

                  </mat-form-field>
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      NUM. REGISTRE COMMERCE
                    </mat-label>
                    <input type="text" matInput formControlName="numeroRegCon">


                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      SITE WEB
                    </mat-label>
                    <input type="text" matInput formControlName="siteWebClient">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TYPE OPERATION
                    </mat-label>
                    <input type="text" matInput formControlName="typeOperation">


                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      MIN. KG TRANSPORT
                    </mat-label>
                    <input type="text" matInput formControlName="minKiloTransport">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TAUX TRANSPORT
                    </mat-label>
                    <input type="text" matInput formControlName="tauxTransport">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TAUX ADC
                    </mat-label>
                    <input type="text" matInput formControlName="tauxADC">

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">



              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      MIN. MAGASIN
                    </mat-label>
                    <input type="text" matInput formControlName="minMagasin">

                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TAUX MAGASIN
                    </mat-label>
                    <input type="text" matInput formControlName="tauxMagasin">

                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      MIN. MANUTENTION
                    </mat-label>
                    <input type="text" matInput formControlName="minManutention">

                  </mat-form-field>
                </div>
              </div>

            </div>


            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-primary">
                      TAUX MANUTENTION
                    </mat-label>
                    <input type="text" matInput formControlName="tauxManutention">

                  </mat-form-field>
                </div>
              </div>

            </div>




          </form>








        </div>
      </div>
    </div>

  </div>
</div>
