<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-primary text-center">VOUS ENREGISTREZ UN NOUVEAU COLLABORATEUR</h5>
        </div>
        <div class="card-body">
          <form #myEmployeeForm="ngForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      NOM
                    </mat-label>
                    <input type="text" required matInput placeholder="NOM" formControlName="nomEmploye">
                    <mat-error *ngIf="employeeForm.controls['nomEmploye'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      PRENOM
                    </mat-label>
                    <input type="text" required matInput placeholder="prénom" formControlName="prenomEmploye">

                    <mat-error *ngIf="employeeForm.controls['prenomEmploye'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      ADRESSE
                    </mat-label>
                    <input type="text" matInput placeholder="ADRESSE" formControlName="adresse">
                    <mat-hint>
                      Adresse
                    </mat-hint>

                  </mat-form-field>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      TELEPHONE
                    </mat-label>
                    <input type="text" matInput placeholder="telephone" formControlName="telephone">

                    <mat-error *ngIf="employeeForm.controls['telephone'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">


                  <mat-form-field appearance="fill" color="text-primary" class="float-end">
                    <mat-label>QUALITE</mat-label>
                    <mat-select class="text-primary" formControlName="qualite">
                      <mat-option value='Déclarant'>Déclarant</mat-option>
                      <mat-option value='Secretaire'> Secrétaire </mat-option>
                      <mat-option value='DAF'> DAF </mat-option>
                      <mat-option value='Comptable'> Comptable </mat-option>
                      <mat-option value='DRH'> DRH </mat-option>
                      <mat-option value='Directeur'> Directeur(trice) </mat-option>

                    </mat-select>


                    <mat-hint>
                      Le poste du collaborateur
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['qualite'].hasError('required')">
                      Champ obligatoire!!!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      EMAIL
                    </mat-label>
                    <input type="email" required matInput placeholder="email " formControlName="emailEmp">
                    <mat-hint>
                      email
                    </mat-hint>
                    <mat-error *ngIf="employeeForm.controls['emailEmp'].hasError('required')">
                      Champ obligatoire!!!

                    </mat-error>
                    <mat-error *ngIf="employeeForm.controls['emailEmp'].hasError('email')">
                      <strong>
                        Ex. toto@domaine.com
                      </strong>

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">


              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      MATRICULE
                    </mat-label>
                    <input type="text" matInput placeholder="matricule" formControlName="matricule">
                    <mat-hint>
                      Vous pouvez attribuer un code a chaque collaborateur
                    </mat-hint>
                    <!-- <mat-error *ngIf="clientForm.controls['faxClient'].hasError('required')">
                      Champ obligatoire!!!
                      <strong>
                        Il doit contenir à minima 2 caractères
                      </strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>


            </div>











            <div class="row">
              <div class="col-lg-12 m--align-right">
                <button [disabled]="isSaving || !employeeForm.valid" type="submit" class="btn btn-primary"
                  mat-flat-button>
                  <table *ngIf="isSaving">
                    <tr>
                      <td>
                        EN COURS
                      </td>
                      <td>
                        <mat-spinner diameter="20"></mat-spinner>
                      </td>
                    </tr>
                  </table>
                  <span *ngIf="!isSaving">
                    ENREGISTRER
                  </span>
                </button>
              </div>
            </div>

          </form>








        </div>
      </div>
    </div>

  </div>
</div>
