<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">

            <div class="col-sm-3">
              <a routerLink="/app/dossiers" class="float-start" mat-fab color="#FF3636">
                <mat-icon class=" text-danger">arrow_back</mat-icon>
              </a>
            </div>
            <div class="col-sm-6">
              <h6 class="title text-danger text-center">VOUS CONSULTEZ LE DOSSIER: {{ idDossier }}</h6>
            </div>
            <div class="col-sm-3 pull-right">
              <button routerLink="/app/pilotage/{{idDossier}}" class="btn btn-success" mat-flat-button>
                PILOTAGE SERVICES
                <mat-icon>east</mat-icon>
              </button>
            </div>

          </div>

        </div>
        <ng-container *ngIf="dossier">
          <h6 class="title text-center">STATUT: {{ dossier.statut }} <small> GESTIONNAIRE: {{ dossier.nomDeclarant }}
            </small></h6>
        </ng-container>
        <div class="card-body text-center">

          <div class="row">

            <div class="col-lg-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>
                   MONTANT FOB / CIP ?
                  </mat-label>
                  <mat-select class="text-primary" required [(ngModel)]="choixFobOrCip" (change)="onFobSelection()">
                    <mat-option [value]=undefined>CHOISIR</mat-option>
                    <mat-option [value]=true>FOB</mat-option>
                    <mat-option [value]=false>CIP</mat-option>

                  </mat-select>

                </mat-form-field>
              </div>
            </div>
          </div>

          <form #mydossierForm="ngForm" [formGroup]="dossierForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-sm-3" *ngIf="choixFobOrCip">
                <div class="form-group" >

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      VALEUR FOB EN DEVISE
                    </mat-label>

                    <input type="text" matInput placeholder="valeur en dévises" formControlName="valFob">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      TAUX DE CHANGE
                    </mat-label>
                    <mat-select class="text-primary" required formControlName="tauxChange">

                      <mat-option *ngFor="let cl of listeDevises" [value]="cl.valeurCfa">{{
                        cl.libelle
                        }}: {{ cl.valeurCfa }} FCFA
                      </mat-option>

                    </mat-select>

                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3" *ngIf="choixFobOrCip">
                <div class="form-group">

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      Montant assurance
                    </mat-label>

                    <input type="text" matInput placeholder="Montant assurance marchandise" formControlName="montantAssurance">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3" *ngIf="choixFobOrCip">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      Montant transport
                    </mat-label>

                    <input type="text" matInput placeholder="Tansport"
                      formControlName="montantTransport">
                  </mat-form-field>
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6" *ngIf="!choixFobOrCip && choixFobOrCip !== undefined">
                <div class="form-group">

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      VALEUR CIP EN DEVISE
                    </mat-label>
                    <input type="text" matInput formControlName="montantCip">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-6" *ngIf="!choixFobOrCip && choixFobOrCip !== undefined">
                <div class="form-group">

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      VALEUR CIP EN F.CFA
                    </mat-label>

                    <input type="text" matInput placeholder="Valeur CIP en F:CFA " formControlName="valCipCfa">
                  </mat-form-field>
                </div>
              </div>


              <div class="col-sm-3" *ngIf="choixFobOrCip">
                <div class="form-group">

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      VALEUR FOB EN F.CFA
                    </mat-label>

                    <input type="text" matInput placeholder="valeur en fcfa" formControlName="valFobCfa">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">

                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CDE
                    </mat-label>
                    <input type="text" matInput formControlName="cde">
                  </mat-form-field>
                </div>
              </div>

            </div>



            <div class="row">


              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No FACTURE FOURNISSEUR
                    </mat-label>

                    <input type="text" matInput placeholder="numFactureFournisseur"
                      formControlName="numFactureFournisseur">
                  </mat-form-field>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      DECLARATION D'IMPORTATION
                    </mat-label>

                    <input type="text" matInput placeholder="declarationImportation"
                      formControlName="declarationImportation">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No NAVIRE/VOL
                    </mat-label>

                    <input type="text" matInput placeholder="navireVol" formControlName="navireVol">
                  </mat-form-field>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      POIDS
                    </mat-label>

                    <input type="text" matInput placeholder="poids" formControlName="poids">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">


              <div class="col-sm-3">

                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No FACTURE FRET
                    </mat-label>

                    <input type="text" matInput placeholder="numFactureFret" formControlName="numFactureFret">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">

                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      NOMBRE DE COLIS
                    </mat-label>

                    <input type="number" matInput placeholder="nbrColis" formControlName="nbrColis">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      OT
                    </mat-label>

                    <input type="text" matInput placeholder="OT" formControlName="ot">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      LTA/BL
                    </mat-label>

                    <input type="text" matInput placeholder="lta " formControlName="lta">
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No ASSURANCE
                    </mat-label>

                    <input type="text" matInput placeholder="numAssurance" formControlName="numAssurance">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No CERTIFICAT SGS
                    </mat-label>

                    <input type="text" matInput placeholder="numCertificatSgs" formControlName="numCertificatSgs">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      No DOSSIER
                    </mat-label>

                    <input type="text" matInput placeholder="dossier" formControlName="dossier">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      DA
                    </mat-label>

                    <input type="text" matInput placeholder="da" formControlName="da">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT D'ORIGINE
                    </mat-label>

                    <input type="text" matInput placeholder="certificatOrigine" formControlName="certificatOrigine">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT DE DISPENSE
                    </mat-label>

                    <input type="text" matInput placeholder="certificatDispense" formControlName="certificatDispense">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CERTIFICAT PHYTOSANITAIRE
                    </mat-label>

                    <input type="text" matInput placeholder="certificatPhytosanitaire"
                      formControlName="certificatPhytosanitaire">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      ADRESSE DE LIVRAISON
                    </mat-label>

                    <input type="text" matInput placeholder="adresseLivraison" formControlName="adresseLivraison">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      CNE
                    </mat-label>

                    <input type="text" matInput placeholder="cne" formControlName="cne">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="text-center" appearance="outline">
                    <mat-label>
                      AUTRE DOCUMENTS
                    </mat-label>

                    <input type="textArea" matInput placeholder="autreDocuments" formControlName="autreDocuments">
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-12 m--align-right">
                <button [disabled]="isSaving || !dossierForm.valid" type="submit" class="btn btn-success"
                  mat-flat-button>
                  <table *ngIf="isSaving">
                    <tr>
                      <td>
                        EN COURS
                      </td>
                      <td>
                        <mat-spinner diameter="20"></mat-spinner>
                      </td>
                    </tr>
                  </table>
                  <span *ngIf="!isSaving">
                    ENREGISTRER
                  </span>
                </button>
              </div>
            </div>


          </form>

        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h6 class="title text-danger text-center">COLIS RELATIFS AU DOSSIER </h6>
        </div>
        <div class="card-body">

          <div class="table-responsive">

            <table class="table" mat-table [dataSource]="marchandisesDataSource">

              <ng-container matColumnDef="libelle">
                <th mat-header-cell *matHeaderCellDef width="25%"> LIBELLE </th>
                <td mat-cell *matCellDef="let element" width="25%"> {{element.libelle}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-danger"> Totaux</td>
              </ng-container>

              <ng-container matColumnDef="hsCode">
                <th mat-header-cell *matHeaderCellDef width="20%"> HS CODE </th>
                <td mat-cell *matCellDef="let element" width="20%"> {{element.hsCode}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="fob">
                <th mat-header-cell *matHeaderCellDef width="5%"> P.U. FOB  </th>
                <td mat-cell *matCellDef="let element" width="5%"> {{element.fob | number : '1.0-2' | noComma}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>
              <ng-container matColumnDef="cip">
                <th mat-header-cell *matHeaderCellDef width="10%"> P.U. CIP </th>
                <td mat-cell *matCellDef="let element" width="10%"> {{element.prixCip | number : '1.0-2' | noComma}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="qte">
                <th mat-header-cell *matHeaderCellDef width="5%"> QUANTITE </th>
                <td mat-cell *matCellDef="let element" width="5%"> {{element.quantite | number : '1.0-2' | noComma}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-danger"> {{totalQte | number : '1.0-2' | noComma}}
                </td>
              </ng-container>
              <ng-container matColumnDef="poids">
                <th mat-header-cell *matHeaderCellDef width="5%"> POIDS </th>
                <td mat-cell *matCellDef="let element" width="5%"> {{element.poids | number : '1.0-2' | noComma}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-danger">
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef width="10%"> PRIX TOTAL FOB</th>
                <td mat-cell *matCellDef="let element" width="10%"> {{element.prixTotalFob | number : '1.0-2' | noComma}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-danger"> {{totalFob | number : '1.0-2' | noComma}}
                </td>
              </ng-container>
              <ng-container matColumnDef="totalCip">
                <th mat-header-cell *matHeaderCellDef width="10%">TOTAL CIP</th>
                <td mat-cell *matCellDef="let element" width="10%"> {{element.prixTotalCip | number : '1.0-2' | noComma}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-danger">
                </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef width="10%"> ACTION </th>
                <td mat-cell *matCellDef="let element" width="10%">
                  <!-- mat-fab -->
                  <a (click)="confirmDialog1(element)" color="error" class="text-danger" matTooltip="Supprimer"
                    aria-label="">
                    <mat-icon>delete</mat-icon>
                  </a>
                  <a class="text-danger" (click)="confirmDialog2(element)" matTooltip="Modifier">
                    <mat-icon>update</mat-icon>
                  </a>


                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>


              <!-- </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


          </div>
          <button class="btn btn-danger" (click)="updateMarch()">
            AJOUTER DES COLIS
          </button>

        </div>
        <div *ngIf="messageFob === true || messageQte === true" class="col-md-12">

          <label class="text-danger pull-right">VERIFIER LES VALEURS FOB ET NOMBRE DE COLIS DE DEPART DU DOSSIER S'ILS
            CORRESPONDENT
            BIEN AUX
            MONTANTS CALCULÉS PAR
            LA
            CODIFICATION</label>

        </div>
      </div>

    </div>


    <div *ngIf="ListeMarchandisesDossier.length === 0 || updateM === true" class="col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="title text-danger text-center">CODIFICATION</h5>
          <small class="title text-secondary text-center">RECHERCHER AVEC LE CODE OU LE LIBELLE DANS LE SYSTEME
            HARMONISE
          </small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <mat-checkbox class="example-margin" [(ngModel)]="transportInclus">
                Les charges sont-elles incluses dans le prix?
              </mat-checkbox>
            </div>
            <div class="col-md-6">
              <input type="number" *ngIf="!transportInclus" placeholder="Transport" [value]="code"
                [(ngModel)]="montantTransport">
            </div>


          </div>
          <div class="row">
            <form>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      CODE
                    </mat-label>
                    <input type="text" matInput placeholder="Code" [value]="code" [formControl]="myControl1"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <cdk-virtual-scroll-viewport [ngStyle]="{'height': '600px'}" itemSize="25">
                        <mat-option *ngFor="let option1 of filteredCode | async" [value]="option1"
                          class="autocomplete-item">
                          {{ option1 }}
                        </mat-option>
                      </cdk-virtual-scroll-viewport>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>



              </div>

            </form>
            <div class="col-md-2">
              <button class="btn btn-info" (click)="findSHByCode()">TROUVER</button>
            </div>
            <form>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      LIBELLE
                    </mat-label>

                    <input type="text" matInput placeholder="Libellé" [value]="libelle" [formControl]="myControl"
                      [matAutocomplete]="auto1">
                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                      <cdk-virtual-scroll-viewport [ngStyle]="{'height': '600px'}" itemSize="25">
                        <mat-option *ngFor="let option of filteredLib | async" [value]="option"
                          class="autocomplete-item">
                          {{option}}
                        </mat-option>
                      </cdk-virtual-scroll-viewport>
                      <!-- *cdkVirtualFor -->
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

              </div>
            </form>
            <div class="col-md-2">
              <button class="btn btn-info" (click)="findSHByLibelle()">TROUVER</button>
            </div>

            <div class="table-responsive" *ngIf="ListeMarchandises.length>0">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    CODE
                  </th>
                  <th>
                    DESCRIPTION
                  </th>
                  <th *ngIf="!transportInclus">
                    FOB
                  </th>
                  <th *ngIf="!transportInclus">
                    PRIX UNITAIRE
                  </th>
                  <th>
                    QTE
                  </th>
                </thead>
                <tbody>

                  <tr *ngFor="let sh of ListeMarchandises">
                    <td>
                      {{sh.hsCode}}
                    </td>
                    <td>
                      {{sh.libelle}}
                    </td>
                    <td>
                      {{sh.fob | number : '1.0-2' | noComma}}
                    </td>
                    <td>
                      {{sh.prixTotal | number : '1.0-2' | noComma}}
                    </td>
                    <td>
                      {{sh.quantite | number : '1.0-2' | noComma}}
                    </td>
                    <!-- <td (click)="OnclickFob()">
                      <label *ngIf="!editFob">{{sh.fob}} </label>
                      <input type="number" [(ngModel)]="fob" #ctrl="ngModel" required *ngIf="editFob"
                        (change)="updateFob(sh)" />
                    </td>
                    <td (click)="OnclickQte()">
                      <label *ngIf="!editQte">{{sh.quantite}} </label>
                      <input type="number" [(ngModel)]="qte" #ctrl1="ngModel" required *ngIf="editQte"
                        (change)="updateQte(sh)" />
                    </td> -->
                    <td><button class="btn btn-danger" (click)="retirerSH(sh)">
                        RETIRER
                      </button>
                    </td>
                  </tr>

                <tfoot>
                  <tr>
                    <th scope="row"> Totaux ====>>></th>
                    <th> .</th>
                    <th> Σ(PU*QTE) = {{totalFob1 | number : '1.0-2' | noComma}}</th>
                    <th> {{qte1}}</th>

                  </tr>

                </tfoot>

              </table>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success" [disabled]="ListeMarchandises.length===0"
                (click)="enregistrerMarchandise()">
                Valider
              </button>
            </div>
          </div>










        </div>
      </div>
    </div>



  </div>
</div>
