<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/app/NewClient']" mat-fab color="#FF3636">
            <mat-icon>add</mat-icon>
          </a>
          <!-- <h4 class="card-title"> CLIENTELLE</h4> -->
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <mat-form-field appearance="standard">
              <mat-label>FILTRE COMPLET</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un client" #input>
            </mat-form-field>

            <table class="table" mat-table [dataSource]="clientDataSource">

              <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

              <!-- RAISON SOCIALE Column -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> RAISON SOCIALE / NOM </th>
                <td mat-cell *matCellDef="let element"> {{element.raisonSocialeClient}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> TELEPHONE </th>
                <td mat-cell *matCellDef="let element"> {{element.telClient}} </td>
              </ng-container>
              <!--  Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.emailClient}} </td>
              </ng-container>

              <!--  Column -->
              <ng-container matColumnDef="operation">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> TYPE OPERATION </th>
                <td mat-cell *matCellDef="let element"> {{element.typeOperation}} </td>
              </ng-container>

              <!--  Column -->
              <!-- <ng-container matColumnDef="bp">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> BP </th>
                <td mat-cell *matCellDef="let element"> {{element.bp }} </td>
              </ng-container> -->
              <!--  Column -->
              <!-- <ng-container matColumnDef="adresse">
                <th mat-header-cell *matHeaderCellDef class=" text-primary"> ADRESSE </th>
                <td mat-cell *matCellDef="let element"> {{element.adresseClient }} </td>
              </ng-container> -->

              <!--  Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class=" text-danger"> ACTION </th>
                <td mat-cell *matCellDef="let element">
                  <a routerLink="/app/client/UpdateClient/{{element.idClient}}" color="#FF3636"
                    matTooltip="Mettre à jour" aria-label="">
                    <mat-icon class=" text-danger">update</mat-icon>
                  </a>
                  <a routerLink="/app/client/ViewClient/{{element.idClient}}" color="error" matTooltip="Afficher"
                    aria-label="">
                    <mat-icon class=" text-danger">visibility</mat-icon>
                  </a>
                  <!-- mat-fab -->
                  <a (click)="confirmDialog(element.idClient)" color="error" matTooltip="Supprimer" aria-label="">
                    <mat-icon class=" text-danger">delete</mat-icon>
                  </a>
                </td>
              </ng-container>


              <!-- </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>